version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: frontend_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - frontend_db_data:/var/lib/mysql
    restart: always
    networks:
      - frontend_network

  wordpress:
    image: wordpress:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend_wordpress
    ports:
      - "30010:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
      RABBITMQ_HOST: ${RABBITMQ_HOST}
      RABBITMQ_PORT: ${RABBITMQ_PORT}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
    depends_on:
      - db
    volumes:
      - ./wordpress/wp-content:/var/www/html/wp-content
    restart: always
    networks:
      - frontend_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: frontend_phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
    ports:
      - "30011:80"
    depends_on:
      - db
    restart: always
    networks:
      - frontend_network

  heartbeat:
      build:
        context: ./heartbeat
      container_name: frontend_heartbeat
      depends_on:
        - wordpress
      environment:
        RABBITMQ_HOST: ${RABBITMQ_HOST}
        RABBITMQ_PORT: ${RABBITMQ_PORT}
        RABBITMQ_USER: ${RABBITMQ_USER}
        RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      restart: unless-stopped
      networks:
        - frontend_network

networks:
  frontend_network:
    name: frontend_network
    driver: bridge

volumes:
  frontend_db_data:
